<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple Blogging Engine</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/resources/css/custom_styles.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap.css"/>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse" th:replace="top_navbar :: logged_in">
		</div>
		<div class="row">
			<div class="col-sm-2" th:replace="left_sidebar :: admin">
				
			</div>
			<div class="col-sm-10">
				<div th:each="post : ${posts}">
					<h3 class="text-uppercase" th:text="${post.getTitle()}">Post title</h3>
					<p class="text-justify" th:text="${post.getPreview() + '...'}">
						Post text
					</p>
					<a class="btn btn-primary" th:href="${'/read/' + post.getId()}">Read further</a>
					<a class="btn btn-warning" th:href="${'/update/' + post.getId()}">Update</a>
					<a class="btn btn-danger" th:href="${'/delete/' + post.getId()}">Delete</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>