<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple Blogging Engine</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/resources/css/custom_styles.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap.css"/>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse" th:replace="top_navbar :: ${user} ?  logged_in : anonymous">
		</div>
		<div class="row">
			<div class="col-sm-2" th:replace="left_sidebar :: ${user} ? admin : anonymous">
				
			</div>
			<div class="col-sm-10">
				<h3 class="text-uppercase"><strong th:text="${post.getTitle()}">Post Title</strong></h3>
				<span th:text="${post.getDate()}" class="text-muted small"></span>
				<div class="text-justify" th:text="${post.getBody()}">
					Post Text
				</div>
				<h5 class="comments"><strong>Comments:</strong></h5>
				<div th:each="comment : ${post.getComments()}">
					<p class="small comment" th:text="${comment.getComment()}">
						Comment Text
					</p>
					<h6><em th:text="${comment.getAuthor()}">Author Name</em></h6>
					<h6 th:text="${comment.getDate()}" class="text-muted small"></h6>
					
				</div>
				<form th:action="${'/comment/' + post.getId()}" method="POST" class="comment_form" th:object="${newComment}">
					<p>
						Leave a comment:
					</p>
					<textarea rows="10" cols="100" th:field="*{comment}" th:errorclass="input_error"></textarea>
					<p>
						<input class="btn btn-primary" type="submit" value="Leave a comment"/>
					</p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>