<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
</head>
<body>
	<div class="navbar navbar-inverse" th:fragment="logged_in">
		<div class="container-fluid">
			<div class="navbar-header">
     			<a class="navbar-brand" href="/logout">SIMPLE PERSONAL BLOG APPLICATION</a>
   			</div>
   			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Log out</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="navbar navbar-inverse" th:fragment="anonymous">
		<div class="container-fluid">
			<div class="navbar-header">
     			<a class="navbar-brand" href="/register">SIMPLE PERSONAL BLOG APPLICATION</a>
   			</div>
   			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Registration</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>